[Unit]
Description=HTTP based fileserver
After=network.target

[Service]
WorkingDirectory=/opt/httpfs
ExecStart=/opt/httpfs/httpfs -cfg config.json
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target